@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Fuente tipográfica corporativa */
    --font-sans:
        "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* ADN Visual: Colores Corporativos SGAFA */
    --color-sgafa-primary: #1e293b;
    --color-sgafa-accent: #2563eb;
    --color-sgafa-background: #f8fafc;
    --color-sgafa-surface: #ffffff;
    --color-sgafa-text-main: #0f172a;
    --color-sgafa-text-muted: #64748b;
    --color-sgafa-success: #166534;
    --color-sgafa-success-bg: #dcfce7;
    --color-sgafa-warning: #854d0e;
    --color-sgafa-danger: #991b1b;

    /* ADN Visual: Bordes */
    --radius-sgafa: 1rem;
}

/* Estilo global para el fondo del sistema */
body {
    background-color: var(--color-sgafa-background);
    color: var(--color-sgafa-text-main);
}
